<table catalog="Jv-1.44.18.6_FK" name="ProperCaseEntityRuleMapper" remarks="" schema="dbo" type="TABLE">
  <column autoUpdated="false" defaultValue="null" digits="0" id="0" name="ChgTS" nullable="true" remarks="" size="54" type="datetime2" typeCode="12" />
  <column autoUpdated="false" defaultValue="null" digits="0" id="1" name="ChgUser" nullable="true" remarks="" size="32" type="varchar" typeCode="12" />
  <column autoUpdated="false" defaultValue="null" digits="0" id="2" name="EntityRuleMapId" nullable="false" remarks="" size="4" type="int" typeCode="4" />
  <column autoUpdated="false" defaultValue="null" digits="0" id="3" name="ExecOrder" nullable="true" remarks="" size="4" type="int" typeCode="4" />
  <column autoUpdated="false" defaultValue="null" digits="0" id="4" name="EntityFieldId" nullable="false" remarks="" size="4" type="int" typeCode="4" />
  <column autoUpdated="false" defaultValue="null" digits="0" id="5" name="RuleId" nullable="false" remarks="" size="4" type="int" typeCode="4" />
  <column autoUpdated="false" defaultValue="null" digits="0" id="6" name="ApplyRule" nullable="true" remarks="" size="1" type="char" typeCode="1" />
  <column autoUpdated="false" defaultValue="null" digits="0" id="7" name="Identifier1" nullable="true" remarks="" size="100" type="varchar" typeCode="12" />
  <column autoUpdated="false" defaultValue="null" digits="0" id="8" name="Identifier2" nullable="true" remarks="" size="100" type="varchar" typeCode="12" />
  <primaryKey column="EntityRuleMapId" sequenceNumberInPK="1" />
  <primaryKey column="EntityFieldId" sequenceNumberInPK="2" />
  <primaryKey column="RuleId" sequenceNumberInPK="3" />
  <index name="PK__ProperCa__0747E0F882FF645A" unique="true">
    <column ascending="true" name="EntityRuleMapId" />
    <column ascending="true" name="EntityFieldId" />
    <column ascending="true" name="RuleId" />
  </index>
  <index name="ProperCaseEntityRuleMapper_Search1" unique="true">
    <column ascending="true" name="EntityRuleMapId" />
    <column ascending="true" name="EntityFieldId" />
    <column ascending="true" name="RuleId" />
    <column ascending="true" name="ExecOrder" />
  </index>
</table>